
<br><br><br>
<div class="container">
        <h2>COMBO BẮP NƯỚC</h2>
        <br>
        <form action="/booking/bill" method="POST">
            <div style="">
                <div >
                    <img style="width:50%;height:300px;text-align:center"src="https://www.galaxycine.vn/media/2022/6/29/uudaicombolt-digital-1135x660_1656474698338.jpg" alt="">
                    <select name="qtyCombo" style="width:50%"class="form-select" aria-label="Default select example">
                        <option value="0" selected>Số lượng</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                 </select>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-outline-danger btn-block">Thanh toán</button>
        </form>
</div>
<br>
<br>
<br>
